{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _news_attachments_entry_file_widget %}
    {% if data %}
        {{ data }}
    {% else %}
        {{ block('form_widget') }}
    {% endif %}
{% endblock _news_attachments_entry_file_widget %}

{% macro attachment_row(form) %}
    <tr>
        <td>
            {{ form_label(form.name, null, {label_attr: {class: 'sr-only' }} ) }}
            {{ form_widget(form.name) }}
        </td>
        <td>
            {{ form_label(form.file, null, {label_attr: {class: 'sr-only' }} ) }}
            {{ form_widget(form.file) }}
        </td>
        <td>
            <a href="#" class="btn btn-xs btn-danger js-row-remove">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Remove
            </a>
        </td>
    </tr>
{% endmacro %}

{% block _news_attachments_entry_row %}
    {{ _self.attachment_row(form) }}
{% endblock %}

{% block _news_attachments_item_widget_prototype %}
    {{ _self.attachment_row(prototype) }}
{% endblock %}


    {% block _news_attachments_widget %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype' : block('_news_attachments_item_widget_prototype')}) %}
        {% endif %}
        <table {{ block('widget_container_attributes') }}>
            <thead>
                {% for column in prototype %}
                <th>
                    {{ form_label(column) }}
                </th>
                {% endfor %}
                <th>
                    <a class="btn btn-default btn-add btn-xs js-row-add" href="#">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        Dodaj Załącznik
                    </a>
                </th>
            </thead>
            
            <tbody>
                 {{ block('form_rows') }}
            </tbody>
        </table>
    {% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css"
            integrity="sha256-xqxV4FDj5tslOz6MV13pdnXgf63lJwViadn//ciKmIs="
            crossorigin="anonymous" />
{% endblock %}

{% block flashes %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %} 
{% endblock %}

{% block body %} 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"
            integrity="sha256-L8glE3PzqSO1/nrEHYWoNyozn5i3ETucQoJGA7gp2mI="
            crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>

    <script>
        $(function(){
            var table = $("#news_attachments");
            var prototype = table.attr("data-prototype");
            var tbody = table.find("tbody");
            var row_count = tbody.length; 

            $(table).on('click', '.js-row-add', function(e) {
                e.preventDefault();
                var html = prototype.replace(/__name__/g, row_count);
                var elem = $.parseHTML(html);
                tbody.append(elem);
                row_count++;
            });

            $(table).on('click', '.js-row-remove', function(e) {
                e.preventDefault();
                $(this).closest('tr').remove();
            });


        });
    </script>
{% endblock %}